{% extends "base.html" %}
{% block title %}Home - Athlete Tracker{% endblock %}
{% block content %}
<div class="text-center py-5">
  <h1 class="display-5 fw-bold">D<span style="color: darkgreen;">3</span>ll<br></h1><h3>Athlete Records Tracker</h3>
  
    <p class="lead"><strong><span style="color: darkgreen;">D</span></strong>.A.R.T is a Database.<br>
                    <strong><span style="color: darkgreen;">D</span></strong>.A.R.T is a Record Tracker.<br>
                    <strong><span style="color: darkgreen;">D</span></strong>.A.R.T is a Sport(s) CV Builder.<br>
                    <strong><span style="color: darkgreen;">D</span></strong>.A.R.T is Art.
    </p>
 <div class="mt-4 d-flex flex-column flex-sm-row justify-content-center gap-3">

<div class="mt-4 d-flex flex-column flex-sm-row justify-content-center gap-3">
<a href="{{ url_for('search') }}" 
   class="btn btn-lg rounded-5 btn-search-hover">
  Search Athletes <i class="fa-solid fa-magnifying-glass"></i>
</a> 

<a href="{{ url_for('register') }}" 
   class="btn btn-lg rounded-5 btn-register-hover">
  <i class="fa-solid fa-user-plus"></i> Register as Athlete <i class="fa-solid fa-running"></i>
</a>
<a href="{{ url_for('register_coach') }}" class="btn btn-lg rounded-5 btn-coach-hover">
  Register as Coach/Admin <i class="fa-solid fa-chalkboard-teacher"></i>
</a>
</div>
</div>
{% endblock %}