{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow">
      <div class="card-header"><h4>Login</h4></div>
      <div class="card-body">
        <form method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="mb-3">
            <label>Full Name <i class="fa-solid fa-user"></i></label>
            <input type="text" name="full_name" placeholder="Example: John Brown" class="form-control" required>
          </div>
        <div class="mb-3">
  <label class="form-label">Password <i class="fa-solid fa-key"></i></label>
  <div class="input-group">
    <input type="password" name="password" id="password" placeholder="Example: @Xxxxx" class="form-control" required>
    <button type="button" class="btn btn-outline-secondary" id="togglePassword">
      <i class="fa-solid fa-eye" id="eyeIcon"></i>
    </button>
  </div>
</div>

<script>
  const togglePassword = document.getElementById('togglePassword');
  const password = document.getElementById('password');
  const eyeIcon = document.getElementById('eyeIcon');

  togglePassword.addEventListener('click', function () {
    // Toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);

    // Toggle the eye icon
    if (type === 'password') {
      eyeIcon.classList.remove('fa-eye-slash');
      eyeIcon.classList.add('fa-eye');
    } else {
      eyeIcon.classList.remove('fa-eye');
      eyeIcon.classList.add('fa-eye-slash');
    }
  });
</script>
          <button type="submit" class="btn w-100"><strong>Login</strong></button>
          <div class="text-center mt-3">
    <a href="{{ url_for('forgot_password') }}">
        Forgot Password?
    </a>
</div> 
<style>
    .btn {
    background:
        radial-gradient(
            circle at 85% 30%,
            rgba(57,185,114,0.30),
            transparent 30%
        ),
        linear-gradient(
            135deg,
            #071208,
            #0d2413 55%,
            #061008
        );
        color: white;
}
</style>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}